*~
*.o
*.a
*.so
*.dylib
*.jnilib
*.class
.classpath
.project
*.jar
build/*
compile-*
scripts/*.sh
install/*
.idea/
*.iml
*.log
target/*
.settings
.metadata/*
bin/*
*.suo
*.idb
*.suo
*.sdf
*.opensdf
*.ipch
*pdb
*.tlog
*.lastbuildstate
*.obj
*.opensdf
*.sdf
*.ilk
*.exe
*.ipch
*.obj
make.dependencies
*.exe
*.tlog
*.pdb
.ilk
.lastbuildstate
*.ilk
*.idb

src/cpp/code examples/readme.txt
ScapiCpp.lib
