*~
*.o
*.a
*.so
*.dylib
*.jnilib
*.class
.classpath
.project
*.jar
build/*
compile-*
scripts/*.sh
install/*
.idea/
*.iml
*.log
target/*
.settings
*.suo
*.sdf
*.opensdf
*.ipch
*.obj
make.dependencies
*.exe
*.tlog
*.pdb
.ilk
.lastbuildstate
*.ilk
*.idb
